.headerAp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerAp > img {
    margin-top: -8rem;
    width: 20%;
}

.paddingHeadAp {
    margin: -2rem 0 4rem 0;
}

.headerAp-anchor {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    color: var(--cor-quaternaria);
    font-family: var(--fonte-secundaria);
    margin-top: -2rem;
    transition: 1.4s;
}

.headerAp-anchor:hover {
    color: var(--cor-terciaria);
    transition: 1.4s;
    border-bottom: 1px solid var(--cor-terciaria);
}

.ap {
    margin: 2rem 0;
}

.ap__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background: url(../assets/vista-mar/);
}

.ap__intro-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 38px;
    color: var(--cor-quaternaria);
}

.ap__intro__loc {
    display: flex;
    align-items: center;
    gap: 22rem;
    text-align: left;
}

.ap__intro__loc__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ap__intro__loc__left-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cor-quinaria);
    padding-bottom: .4rem;
}

.ap__intro__loc__det {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ap__intro__loc__det-txt {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1rem;
    border-radius: 2rem;
}

.ap__intro__loc__det__bed {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1rem;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ap__intro__loc__det__bed-txt {
    text-transform: uppercase;
    color: var(--cor-principal);
    border-radius: 2rem;
}

.ap__intro__loc-anchor {
    background-color: var(--cor-quaternaria);
    padding: 1.8rem;
    border-radius: 80px;
    cursor: pointer;
    transition: 1.4s;
}

.ap__intro__loc-anchor > a {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-principal);
    background: url(../assets/Icons/icons8-dinheiro-48.png) no-repeat right;
    padding-right: 4rem;
}

.ap__intro__loc-anchor:hover {
    color: var(--cor-principal);
    background-color: var(--cor-quinaria);
    transition: 1.4s;
    box-shadow: 10px 10px 0 black;
}

.slidesAp {
    border-top: 1px solid var(--cor-quaternaria);
    border-bottom: 2px solid var(--cor-quaternaria);
    background-color: #dbd5d5;
}

.slidesAp__presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.slidesAp__presentation-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 40%;
}

@keyframes slidesApAnimationTitle {
    0% {
        color: transparent;
        border-bottom: 3px solid transparent;
    }

    100% {
        color: var(--cor-quinaria);
        border-bottom: 3px solid var(--cor-quinaria);
    }
}

.slidesAp__presentation-div-title {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    color: var(--cor-quinaria);
    border-bottom: 3px solid var(--cor-quinaria);
    padding-bottom: 10px;

    animation-name: slidesApAnimationTitle;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.slidesAp__presentation-div-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1.5rem;
}

@keyframes slidesApAnimationParagraph {
    0% {
        color: transparent;
    }

    100% {
        color: var(--cor-quinaria);
    }
}

.slidesAp__presentation-div-text > p {
    font-size: 20px;
    color: var(--cor-quinaria);
    font-family: var(--fonte-secundaria);
    line-height: 34px;

    animation-name: slidesApAnimationParagraph;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.slidesAp__presentation-div-text > li {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.slidesAp__presentation-div-text > li > h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.centerFotoZoom {
    margin: auto;
    display: block;
    width: 65%;
    padding: 5rem 0;
    cursor: pointer;
}

.fotoDiv {
    display: flex;
    align-items: center;
}

.legend {
    font-size: 28px;
    font-family: var(--fonte-secundaria);
    color: var(--cor-quaternaria);
}

.hidden {
    overflow: hidden;
}

.hideSection {
    display: none;
}

.hideFotoZoom {
    display: none;
}

.resetFoto {
    display: none;
}

.datasheet {
    padding: 4rem 0;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.datasheet__title {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.datasheet__title-content {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 2rem 0;
}

.datasheet__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.datasheet__content-side-list {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width: 90%;
    gap: 2rem;
}

.datasheet__content-side-list > li {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.datasheet__content-side-list > li > h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.datasheet__content-side-listRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 2rem;
}

.datasheet__content-side-listRight > li {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.datasheet__content-side-listRight > li > h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.datasheet__content-side-list > li > div {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.datasheet__content-side-listRight > li > p {
    font-size: 18px;
    font-weight: 300;
    font-family: var(--fonte-secundaria);
    line-height: 34px;
    width: 70%;
}

.datasheet__content-side-list > li > p,
.datasheet__content-side-list > li > div > p{
    font-size: 18px;
    font-weight: 300;
    font-family: var(--fonte-secundaria);
    line-height: 30px;
    width: 70%;
}

.zoomLoc {
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 32px;
    cursor: pointer;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86%;
    margin: auto;
    gap: 6rem;
    padding: 4rem 0;
}

.location > img {
    width: 50%;
    border-radius: 32px;
    cursor: pointer;
}

.location-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.location-div-title {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
    color: var(--cor-quaternaria);
}

.location-div-paragraph {
    font-size: 18px;
    font-family: var(--fonte-secundaria);
    line-height: 32px;
}

.talkToMe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0;
}

.talkToMe > div > img {
    border-radius: 200px;
    border: 1px solid var(--preto);
}

.talkToMe-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

.talkToMe-div-title {
    background-color: var(--cor-quaternaria);
    padding: 2rem;
    border-radius: 56px;
    transition: 1.4s;
}

.talkToMe-div-title > a {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: var(--fonte-secundaria);
    text-transform: uppercase;
    background: url(../assets/Icons/icons8-telefone-celular-100.png) no-repeat right;
    padding: 1rem 6rem 1rem 2rem;
}

.talkToMe-div-title:hover {
    box-shadow: 10px 10px var(--cor-quaternaria);
    background-color: var(--cor-quinaria);
    transition: 1.4s;
}

.talkToMe-div-anchor {
    text-decoration: none;
    color: var(--cor-quinaria);
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    text-transform: uppercase;
    transition: 1.4s;
}

.talkToMe-div-anchor:hover {
    border-bottom: 1px solid var(--cor-terciaria);
    color: var(--cor-terciaria);
    padding: 0 .4rem;
    transition: 1.4s;
}

.apFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 8rem 0 2rem 0;
}

.apFinal-title {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1.5rem 5rem;
    text-decoration: none;
    border-radius: 32px;
    font-weight: 700;
    transition: 1.4s;
}

.apFinal-title:hover {
    background-color: var(--cor-principal);
    color: black;
    box-shadow: 10px 10px 0 black;
    transition: 1.4s;
}

.apFinal-anchor {
    background-color: var(--cor-quaternaria);
    text-decoration: none;
    color: var(--cor-principal);
    border-radius: 42px;
    margin-bottom: 5rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    transition: 1.4s;
}

.apFinal-anchor:hover {
    background-color: var(--cor-principal);
    color: black;
    box-shadow: 10px 10px 0 black;
    transition: 1.4s;
}

@media screen and (max-width: 1024px) {
    .headerAp > img {
        margin-top: -6rem;
        width: 100%;
    }

    .headerAp-anchor {
        font-size: 16px;
    }

    .paddingHeadAp {
        margin: 0;
    }

    .paddingAnchorResponsive {
        padding-bottom: 1.4rem;
    }

    .ap__intro {
        gap: 2.4rem;
    }

    .ap__intro-title {
        margin-top: -3rem;
        font-size: 22px;
    }

    .ap__intro__loc {
        flex-direction: column;
        gap: 1.3rem;
    }

    .ap__intro__loc__left {
        gap: 2rem;
    }

    .ap__intro__loc__left-title {
        font-size: 14px;
    }

    .ap__intro__loc__det {
        flex-direction: column;
    }

    .ap__intro__loc__det-txt,
    .ap__intro__loc__det__bed-txt {
        font-size: 14px;
        padding: .5rem 1rem;
    }

    .ap__intro__loc__det__bed {
        padding: 0rem .6rem;
        gap: 0;
    }

    .ap__intro__loc-anchor {
        background-color: var(--cor-quaternaria);
        padding: .5rem;
        border-radius: 80px;
    }

    .ap__intro__loc-anchor > a {
        color: var(--cor-principal);
        font-size: 16px;
        text-transform: uppercase;
        padding-right: 1.7rem;
        text-decoration: none;
        transition: 1.4s;
        background: url(../assets/Icons/icons8-dinheiro-24.png) no-repeat right;
    }

    .centerFotoZoom {
        width: 100%;
    }

    .slidesAp__presentation {
        flex-direction: column;
    }

    .slidesAp__presentation-div {
        width: 100%;
        align-items: center;
    }

    .slidesAp__presentation-div-title {
        font-size: 16px;
        text-align: center;
    }

    .slidesAp__presentation-div-text {
        gap: 2rem;
    }

    .slidesAp__presentation-div-text > p {
        font-size: 15px;
        text-align: center;
        line-height: 25px;
    }
    
    .slidesAp__presentation-div-text > li > h3 {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    .responsiveIcon {
        width: 15%;
    }

    .datasheet {
        width: 100%;
    }

    .datasheet__content {
        flex-direction: column;
    }

    .datasheet__content-side-list {
        width: 100%;
        padding: 0 0;
    }

    .datasheet__content-side-list > li > h2,
    .datasheet__content-side-listRight > li > h2 {
        text-align: center;
    }

    .datasheet__content-side-list > li > p,
    .datasheet__content-side-list > li > div > p{
        font-size: 15px;
        text-align: center;
        width: 100%;
    }

    .datasheet__content-side-listRight {
        width: 100%;
        padding: 0 0;
    }

    .datasheet__content-side-listRight > li > p {
        width: 100%;
        text-align: center;
    }

    .responsiveParagraph {
        display: none;
    }

    .location {
        flex-direction: column;
        gap: 1.2rem;
    }

    .location > img {
        width: 110%;
    }

    .location-div-title {
        font-size: 26px;
        text-align: center;
    }

    .location-div-paragraph {
        text-align: center;
        font-size: 16px;
    }

    .zoomLoc {
        width: 100%;
        display: block;
        margin: auto;
        border-radius: 59px;
    }

    .talkToMe {
        flex-direction: column;
    }

    .talkToMe-div {
        align-items: center;
        gap: 2rem;
    }

    .talkToMe-div-title {
        align-items: center;
        padding: .8rem;
    }

    .talkToMe-div-title > a {
        font-size: 16px;
        background: url(../assets/Icons/icons8-telefone-celular-30.png) no-repeat right;
        padding: .5rem 1.7rem 0 0;
    }

    .talkToMe-div-title > a:hover {
        background-color: var(--cor-quinaria);
        transition: 1.4s;
    }

    .talkToMe > div {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .talkToMe-div-anchor {
        font-size: 16px;
        text-align: center;
        line-height: 25px;
    }

    .responsiveFoto {
        width: 30%;
    }
}