.ap {
    margin: 2rem 0;
}

.ap__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background: url(../assets/vista-mar/);
}

.ap__intro-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 38px;
    color: var(--cor-quaternaria);
}

.ap__intro__loc {
    display: flex;
    align-items: center;
    gap: 30rem;
    text-align: left;
}

.ap__intro__loc__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ap__intro__loc__left-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cor-quinaria);
    padding-bottom: .4rem;
}

.ap__intro__loc__det {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ap__intro__loc__det-txt {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1rem;
    border-radius: 2rem;
}

.ap__intro__loc__det__bed {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1rem;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ap__intro__loc__det__bed-txt {
    text-transform: uppercase;
    color: var(--cor-principal);
    border-radius: 2rem;
}

.ap__intro__loc-anchor {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1.8rem;
    border-radius: 80px;
    transition: 1.4s;
}

.ap__intro__loc-anchor:hover {
    color: var(--cor-principal);
    background-color: var(--cor-quinaria);
    transition: 1.4s;
    box-shadow: 10px 10px 0 black;
}

.slidesAp {
    border-top: 1px solid var(--cor-quaternaria);
    border-bottom: 2px solid var(--cor-quaternaria);
    background-color: #dbd5d5;
}

.slidesAp__presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.slidesAp__presentation-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 40%;
}

.slidesAp__presentation-div-title {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--cor-quinaria);
    border-bottom: 3px solid var(--cor-quinaria);
    padding-bottom: 10px;
}

.slidesAp__presentation-div-text {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 2rem;
}

.slidesAp__presentation-div-text > p {
    font-size: 20px;
    color: var(--cor-quinaria);
    font-family: var(--fonte-secundaria);
}

.slidesAp__presentation-div-text > li {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.slidesAp__presentation-div-text > li > h3 {
    font-size: 20px;
    text-transform: uppercase;
}

.zoomAp {
    width: 120%;
}

.centerFotoZoom {
    margin: auto;
    display: block;
    width: 65%;
    padding: 5rem 0;
    cursor: pointer;
}

.hideSection {
    display: none;
}

.resetFoto {
    display: none;
}

.datasheet {
    width: 75%;
    margin: auto;
    display: block;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datasheet__title {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.datasheet__title-content {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
    margin: 2rem 0;
}

.datasheet__leftSide-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.datasheet__leftSide-list > li {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: .8rem;
}

.datasheet__leftSide-list > li > h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.datasheet__leftSide-list > li > div {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.datasheet__leftSide-list > li > p,
.datasheet__leftSide-list > li > div > p{
    font-size: 18px;
    font-weight: 300;
    font-family: var(--fonte-secundaria);
}

.apFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 8rem 0 2rem 0;
}

.apFinal-title {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1.5rem 5rem;
    text-decoration: none;
    border-radius: 32px;
    font-weight: 700;
    transition: 1.4s;
}

.apFinal-title:hover {
    background-color: var(--cor-principal);
    color: black;
    box-shadow: 10px 10px 0 black;
    transition: 1.4s;
}

.apFinal-anchor {
    background-color: var(--cor-quaternaria);
    text-decoration: none;
    color: var(--cor-principal);
    border-radius: 42px;
    margin-bottom: 5rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    transition: 1.4s;
}

.apFinal-anchor:hover {
    background-color: var(--cor-principal);
    color: black;
    box-shadow: 10px 10px 0 black;
    transition: 1.4s;
}

@media screen and (max-width: 1024px) {
    
}