.footer {
    display: flex;
    justify-content: center;  
    align-items: flex-start; 
    gap: 16rem;
    padding: 5rem 0;
    background-color: rgb(214, 214, 214);
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer__form-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 26px;
}

.footer__form__fill{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__form__fill-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footer__form__fill-label {
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    font-size: 24px;
}

.footer__form__fill-div-input {
    padding: .8rem 0 .8rem 1rem;
    border-radius: 6rem;
    border: 1px solid;
}

.footer__form__fill-div-input-txtA {
    padding: 1rem 2rem 5rem 1rem;
    border-radius: 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600; 
    font-family: var(--fonte-principal);
}

#nome {
    text-align: left;
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 600;
}

#nome::placeholder {
    font-size: 1rem;
}

#email {
    text-align: left;
    font-size: 16px;
    font-weight: 600;   
    font-family: var(--fonte-principal);
}

#email::placeholder {
    font-size: 16px;
}

#mensagem::placeholder {
    font-size: 16px;
    font-family: var(--cor-quaternaria);
}

.footer__form__fill-button-submit {
    padding: .8rem 5rem;
    border-radius: 1rem;
    color: var(--cor-principal);
    background-color: black;
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    cursor: pointer;
    pointer-events: fill;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.footer__contacts-title {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer__contacts__wpp {
    display: flex;
    align-items: center;
}

.footer__contacts__wpp-anchor,
.footer__contacts__insta-anchor,
.footer__contacts__telf-anchor {
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    color: var(--preto);
    transition: 1.4s;
}

.footer__contacts__wpp-anchor:hover,
.footer__contacts__insta-anchor:hover {
    color: var(--cor-terciaria);
    border-bottom: 1px solid var(--cor-terciaria);
    transition: 1.4s;
}

.footer__contacts__insta {
    display: flex;
    align-items: center;
}

.footer__contacts__telf {
    display: flex;
    align-items: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: rgb(159, 159, 159);
    padding: 2rem 0;
}

.copyright-txt {
    font-size: 18px;
    font-family: var(--fonte-principal);
}

@keyframes anima-loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1024px) {

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        width: auto;
        gap: 5rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 2rem;
    }

    .form__preencher-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        gap: 1rem;
    }

    .footer__copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: rgb(214, 214, 214);
        padding: 4rem 0 2rem 0;
    }
    
    .footer__copyright__texto {
        font-size: 18px;
        font-family: var(--fonte-principal);
        text-align: center;
    }

    .input__form {
        width: 80%;
    }

    #nome,
    #email,
    #mensagem {
        text-align: center;
        padding: 1rem;
    }

    .input__form::placeholder {
        visibility: hidden;
    }

    .input__form-mensagem {
        width: 80%;
    }

    .input__form-mensagem::placeholder {
        visibility: hidden;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}