.header {
    margin: 0 0 4rem 0;
    text-align: center; 
}

.header__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-quinaria);
    transition: 1.4s;
}

.header__options-LogImg {
    display: flex;
    align-items: center;
    gap: 15rem;
}

.header__options-LogImg > a > img {
    margin-top: -8rem;
    margin-left: 22rem;
    width: 50%;
}

.header__options-LogImg-Ent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
}

.header__options-LogImg-Ent-Act-But {
    text-decoration: none;
    font-size: 28px;
    font-family: var(--fonte-secundaria);
    color: var(--cor-quaternaria);
    text-transform: uppercase;
    background: transparent;
    border-bottom: none;
    border-left: none;
    border-top: 1px solid var(--cor-quaternaria);
    border-right: none;
    transition: 1.4s;
}

.header__options-LogImg-Ent-Act-But:hover {
    color: var(--cor-terciaria);
    transition: 1.4s;
}

.click {
    cursor: pointer;
}

.padding {
    padding: .5rem .7rem;
}

.paddingL {
    padding: .5rem 0;
}

.header__options-LogImg-Ent-ActReg {
    display: none;
}

.header__options-home {
    font-size: 28px;
    color: var(--cor-quaternaria);
    margin-top: -8rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transition: 1.4s;
}

/* adjustments for 1366px width screens or lower! */
@media screen and (max-width: 1366px) {

    @media screen and (max-width: 1024px) {

        .header__options-LogImg {
            flex-direction: column;
            gap: 0;
            margin-top: 0rem;
        }

        .header__options-LogImg > a > img {
            margin-top: -2rem;
            margin-left: 0;
            width: 70%;
        }

        .header__options-LogImg-Ent {
            display: flex;
            flex-direction: column;
        }

        .header__options-LogImg-Ent-Act-But {
            font-size: 14px;
            text-transform: uppercase;
            background: transparent;
            border-right: transparent;
        }

        .padding {
            padding: .5rem 0 2rem 0;
        }

        .paddingL {
            padding: 0 0 .3rem 0;
        }

        .borderDownResp {
            border-bottom: transparent;
        }

        .header__image {
            display: none;
        }
    }
}


