.ap {
    margin: 2rem 0;
}

.ap__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.ap__intro-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 38px;
    color: var(--cor-quaternaria);
}

.ap__intro__loc {
    display: flex;
    align-items: center;
    gap: 30rem;
    text-align: left;
}

.ap__intro__loc__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ap__intro__loc__left-title {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid var(--cor-quinaria);
    padding-bottom: .4rem;
}

.ap__intro__loc__det {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ap__intro__loc__det-txt {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1rem;
    border-radius: 2rem;
}

.ap__intro__loc__det__bed {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1rem;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ap__intro__loc__det__bed-txt {
    text-transform: uppercase;
    color: var(--cor-principal);
    border-radius: 2rem;
}

.ap__intro__loc-anchor {
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1.8rem;
    border-radius: 40px;
    transition: 1.4s;
}

.ap__intro__loc-anchor:hover {
    color: var(--cor-quinaria);
    background-color: var(--cor-principal);
    transition: 1.4s;
    box-shadow: 10px 10px 0 black;
}

.slidesAp {
    border-top: 1px solid var(--cor-quaternaria);
    border-bottom: 2px solid var(--cor-quaternaria);
    background-color: #bdbdbd;
    margin: 5rem 0;
}

.slidesAp__presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
}

.slidesAp__presentation-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--cor-quaternaria);
    border-bottom: 1px solid var(--cor-quaternaria);
    padding-bottom: 10px;
}

.swiper-ap {
    width: 50%;
}

.slidesAp__plantas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

.slidesAp__plantas-title {
    background-color: var(--cor-quaternaria);
    border-radius: 32px;
    color: var(--cor-principal);
    text-transform: uppercase;
    padding: .5rem 1.2rem;
}

.swiper-ap-plantas {
    width: 60%;
}

.swiper > .swiper-button-prev, 
.swiper-button-next {
    color: black;
}

.slidesAp__plantas__loc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.slidesAp__plantas__loc-paragraph {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 3rem 0 0 0;
}

.apFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.apFinal-title {
    text-transform: uppercase;
    color: var(--cor-principal);
    background-color: var(--cor-quaternaria);
    padding: 1.5rem 5rem;
    text-decoration: none;
    border-radius: 32px;
    font-weight: 700;
    transition: 1.4s;
}

.apFinal-title:hover {
    background-color: var(--cor-principal);
    color: black;
    box-shadow: 10px 10px 0 black;
    transition: 1.4s;
}

.apFinal-anchor {
    background-color: var(--cor-quaternaria);
    text-decoration: none;
    color: var(--cor-principal);
    border-radius: 42px;
    margin-bottom: 5rem;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    transition: 1.4s;
}

.apFinal-anchor:hover {
    background-color: var(--cor-principal);
    color: black;
    box-shadow: 10px 10px 0 black;
    transition: 1.4s;
}

@media screen and (max-width: 1024px) {
    
}